
/* Pulsante per passare il turno */
.skipturn {
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.skipturn:hover {
  background-color: #0056b3;
}

.card.selected, .placed-card.selected  {
  border: 2px solid blue; /* Cambia il colore del bordo per la selezione */
  background-color: #d1e7fd; /* Colore di sfondo per la selezione */
}


/* ----------- PLAYER HAND ----------- */
.players {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 240px;
}

.player {
  border: 2px solid #333;
  padding: 15px;
  background-color: white;
  width: 25%;
  transition: all 0.5s ease; /* Aggiunge una transizione fluida */
}

.player:has(.cards.hidden) {
  font-size: 8px; /* Dimensione del font più piccola */
  /* Puoi aggiungere altre proprietà per ridurre la dimensione */
  height: 30px; /* Esempio di altezza */
  width: 100px;
  opacity: 0.5; /* Esempio di riduzione dell'opacità */
  transition: all 0.5s ease; /* Aggiunge una transizione fluida */
}
.player:not(.cards.hidden) h2 {
  margin-top: 2px;
}

.cards {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  container-type: inline-size; /* Questa proprietà abilita le container queries */
  font-family: "Segoe UI Symbol", "Noto Sans", sans-serif;
  border-radius: 10px;
}

.cards {
  transform-style: preserve-3d;
  transform: perspective(10px);
}

.cards .card:hover{
  transform: translateZ(1.3px);
  border: 1px solid rgb(184, 184, 255);
}
.cards .card:has(+ * + *:hover){
  transform: translateZ(0.3px) rotateY(-0.5deg);
}

.cards .card:hover + * + *{
  transform: translateZ(0.3px) rotateY(0.5deg);
}

.cards.hidden .card {
  font-size: 1px; /* Dimensione del font più piccola */
  transition: all 0.5s ease; /* Aggiunge una transizione fluida */
}

.card {
  display: inline-flex;
  padding: 10px;
  margin: 5px;
  width: 30px;
  aspect-ratio: 3 / 4.5; /* Mantiene il rapporto altezza/larghezza */
  border-radius: 5px;
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Cambiato il cursore per indicare che la carta è cliccabile */
  transition: all .5s ease; /* Aggiunge una transizione fluida */
  filter: brightness(1.05);
}

/* Container Query: applicato quando .cards ha una larghezza inferiore a 150px */
@container (max-width: 140px) {
  .card {
    width: 20px;  /* Riduci la larghezza delle carte */
    font-size: 15px; /* Riduci la dimensione del font */
    padding: 3px;
    margin: 1px;
  }
}
@container (min-width: 140px) and (max-width: 160px) {
  .card {
    width: 25px;  /* Riduci la larghezza delle carte */
    font-size: 17px; /* Riduci la dimensione del font */
    padding: 5px;
    margin: 3px;
  }
}
@container (min-width: 160px) and (max-width: 180px) {
  .card {
    width: 27px;  /* Riduci la larghezza delle carte */
    font-size: 17px; /* Riduci la dimensione del font */
    padding: 7px;
    margin: 4px;
  }
}


/* ----------- DECK COPERTO ----------- */
/* Contenitore del mazzo di carte */
.deck-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente gli elementi */
  margin: 20px;
}

/* Stile per il mazzo di carte */
.deck {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 80px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Cambia il cursore quando si passa sopra */
}

/* Stile per le carte all'interno del mazzo */
.deck-cards {
  display: flex; /* Usa flexbox */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100px; /* Imposta un'altezza fissa per centrare verticalmente */
  width: 100%; /* Occupa tutta la larghezza */
  border: 1px dashed #ccc; /* Facoltativo: stile per il contenitore delle carte */
}

/* Stile per il numero di carte */
.deck h3 {
  text-align: center; /* Allinea il testo al centro */
  font-size: 18px;
  color: #333;
  margin: 0; /* Rimuove il margine per centrare meglio */
}



/* ----------- PLAY AREA ----------- */
/* Stile per l'area di gioco */
.play-area {
  margin-top: 30px;
  border: 2px solid #333;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex; /* Aggiunto per visualizzare le carte in orizzontale */
  flex-wrap: wrap; /* Permette il wrapping delle carte se non ci sta in una riga */
}


.card-slot {
  display: flex;
  align-items: center;  /* Allinea verticalmente al centro */
  justify-content: center; /* Allinea orizzontalmente al centro */
  width: 100%; /* Manteniamo la larghezza dell'area di piazzamento */
  margin-top: 10px;
  padding: 10px;
  min-height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  container-type: inline-size; /* Questa proprietà abilita le container queries */
  /* line-height: 150px; Allinea verticalmente il testo */
  font-family: "Segoe UI Symbol", "Noto Sans", sans-serif;
  font-weight: bold;
  align-items: center;  /* Allinea verticalmente al centro */
  color: #a3a3a3;
  flex-wrap: wrap; /* Permette il wrapping su piu' righe o colonne delle carte se non ci sta in una riga */
}

.card-group{
  display: inline-flex; /* Cambiato per visualizzare le carte piazzate */
  min-height: 100px;
  border: 2px dashed #888;
  border-radius: 10px;
  /*line-height: 150px;*/
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Segoe UI Symbol", "Noto Sans", sans-serif;
  flex-wrap: wrap; /* Permette il wrapping su piu' righe o colonne delle carte se non ci sta in una riga */
  /* justify-content: flex-start;*/ /* Allinea le carte a sinistra */
  /* align-items: center; */ /* Centra verticalmente il contenuto */
  color: black;
}

/* 3D animation */
.card-group {
  transform-style: preserve-3d;
  transform: perspective(10px);
}

.placed-card {
  display: inline-flex;
  padding: 10px;
  margin: 5px;
  width: 30px;
  aspect-ratio: 3 / 4.5; /* Mantiene il rapporto altezza/larghezza */
  border-radius: 5px;
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer; /* Cambiato il cursore per indicare che la carta e' cliccabile */
  transition: all .5s ease; /* Aggiunge una transizione fluida */
  filter: brightness(1.05);
}

.card-group .placed-card:hover{
  transform: translateZ(1.3px);
  border: 1px solid rgb(184, 184, 255);
}

.card-group:hover {
  border: 2px dashed rgb(95, 157, 172);
}