/* Esistente */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.hidden {
  display: none;
}


h1, h2 {
  color: #333;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}